body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
.navbar {
    background-color: #0077b5;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}
  
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
  
.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}
  
.nav-links li a:hover {
    background-color: #005582;
    border-radius: 5px;
}
