/* General Reset */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation Bar Styling */
.navbar {
  background-color: #0077b5;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* Styling for the List inside the Navbar */
.nav-links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

/* Styling for the individual list items */
.nav-links li {
  display: inline;
}

/* Styling for the links */
.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Hover effect for the links */
.nav-links li a:hover {
  background-color: #005582;
  border-radius: 5px;
}

/* Wishlist title styling */
.wishlist-page h1 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Home page and general property grid styling */
.home-page,
.wishlist-page {
  padding: 20px;
  text-align: center;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 0px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

/* Example CSS for the search bar */
.home-page input[type="text"] {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  max-width: 500px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust as needed */
  gap: 5px;
  margin-bottom: 60px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  max-width: 850px; /* Same width as property grid */
  margin: 0 auto 0px; /* Center align and add space below */
}

.filters label {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 17px;
  color: #333;
}

.filters select {
  padding: 8px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 15px;
}
